*.so
*.o
config.log
config.status
*.cache
configure
src/Makevars
*.PUB
.RData
.Rhistory
src/symbols.rds
src-i386/
src-x64/
main.aux
main.dvi
main.log
main.pdf
main.bbl
main.blg
supplemental.aux
supplemental.dvi
supplemental.log
supplemental.pdf