useDynLib(MPCC, .registration=TRUE)

exportPattern("^[^\\.]")

importFrom("grDevices", "dev.off", "png")
importFrom("graphics", "legend", "plot", "points", "polygon")
importFrom("stats", "cor", "median", "rnorm", "runif", "sd")
importFrom("utils", "write.table")
